<div class="background">

</div>
<div class="info">
  <div class="info-content">
    <div class="avatar">
      <img src="https://firebasestorage.googleapis.com/v0/b/phimdee-image.appspot.com/o/1.jpg?alt=media&token=f7199cee-cccc-4dc5-a92b-7878977ec419" alt="">
    </div>
    <div class="content ml-1">
      <h1 class="actor-name">{{ actor.name }}</h1>
      <div class="sosial-network">
        <a href="https://www.facebook.com/dpm98" target="_blank"><i class="fab fa-facebook" aria-hidden="true" style="color: #4267B2;"></i></a>
        <a href="https://www.facebook.com/dpm98" target="_blank"><i class="fab fa-instagram instagram" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/dpm98" target="_blank"><i class="fab fa-twitter" style="color: #1DA1F2;"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="intro row">
  <div class="col-3 intro-content">
    <div class="info-a row">
      <div class="item col-lg-12 col-sm-6 col-12 px-0">
        <span class="title">Nghề nghiêp: </span><span>{{ actor.job }}</span>
      </div>

      <div class="item col-lg-12 col-sm-6 col-12 px-0">
        <span class="title">Ngày sinh: </span>
        <span>{{ actor.born.day + '/' + actor.born.month + '/' + actor.born.year }}</span>
        <span> (Tuổi {{actor.age }})</span>
      </div>
      <div class="item col-lg-12 col-sm-6 col-12 px-0">
        <span class="title">Quốc tịch: </span> <span>{{ actor.country }}</span>
      </div>

      <div class="item col-lg-12 col-sm-6 col-12 px-0">
        <span class="title">Giới tính: </span> <span>{{ actor.sex }}</span>
      </div>
    </div>

    <div style="text-align: justify;" class="item">
      <span class="title">Mô tả: </span> <span>{{ actor.des }}</span>
    </div>

  </div>
  <div class="col-9 films">
    <h1>Phim Đã Tham Gia</h1>
    <div class="row">
      <div class="col-2 mt-3 film" *ngFor="let film of actor.movie">
        <box-card [card]="film"></box-card>
      </div>
    </div>
  </div>
</div>
