<div class="content-fill">
  <div class="logof"><img class="film-logo" src="{{content.logo}}"></div>
  <div class="film-title">{{content.name}}</div>
  <div class="film-info">
    <div class="info-like"><i class="fas fa-heart"></i> {{content.like}}</div>
    <div class="info-year">{{content.launch.year}}</div>
    <div class="info-time"><i class="far fa-clock"></i> {{content.time}} phút</div>
    <div class="info-quality"><span class="quality-value">{{content.quality}}</span></div>
    <div class="info-old"><span class="old-value">{{content.age}}</span></div>
  </div>
  <div class="film-text">{{content.short_description}}</div>
  <div class="film-control">
    <div class="control-play" (click)="play_video()"><i class="fas fa-play"></i> Xem Ngay</div>
    <div class="control-add"><i class="far fa-plus"></i> Lưu List</div>
    <div class="control-like"><i class="fas fa-heart"></i></div>
    <div class="control-share"><i class="fas fa-share"></i></div>
  </div>
  <div class="film-tags">
    <div class="tags">
      <span>Tags</span>
      <div class="tags-list">
        <a *ngFor="let tag of content.tags" class="tag" href="#">{{tag}}</a>
        <!-- <a class="tag" href="#">Hành Động</a>
        <a class="tag" href="#">Tâm Lý</a>
        <a class="tag" href="#">Nhiều Tập</a>
        <a class="tag" href="#">DC Commit</a> -->
      </div>
    </div>
  </div>
</div>