<div class="container-fluid mx-auto navbar header-navbar" (scroll)="onScroll($event)" [ngClass]="{'fixednav': isFixed}">
  <div class="row width-100 mx-0">
    <div class="col-auto pl-0">
      <div (click)="showNav()" [ngClass]="{'active': checkNav}" class="menu__toggler"><span></span></div>
        <img [src]="logo" routerLink="/home">
    </div>
    <div class="col">
      <div class="row justify-content-between set-width ml-0">
        <nav class="col-auto pl-0">




          <ul [ngClass]="{'active': checkNav}" class="d-flex align-items-center justify-content-center m-0 menu">
            <li class="item-list"><i class="hot-m fab fa-hotjar"></i>HOT</li>
            <li class="item-list">PHIM RẠP</li>
            <li class="item-list">ANIME</li>
            <li class="item-list">PHIM BỘ</li>
            <li class="item-list">TV SHOW</li>
            <li class="item-list">BXH</li>


          </ul>
        </nav>
        <div class="col-auto pr-0">
          <div class="row justify-content-end">
            <div class="col-auto px-0">
              <search-bar></search-bar>
            </div>
            <div class="col-auto pr-0">
              <div class="login">
                <span class="hidden-mobile">Đăng nhập</span>
                <i class="fal fa-sign-in hidden-pc"></i>
              </div>
              <div class="reg">
                <span class="hidden-mobile">Đăng ký</span>
                <i class="fal fa-user-plus hidden-pc"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
