<header class="topbar text-white " id="topbar">
  <div class="container">
    <div class="row ">
      <div class="col-lg-6 col-sm-9">
        <p class="text-white my-lg-2">Tận hưỡng những nội dung giải trí hấp dẫn nhất chỉ với 30.000 vnd / 1 tháng
        </p>
      </div>
      <div class="col-lg-6 col-sm-3">
        <div class="topbar-right-btns my-lg-1">
          <a class="btn anim-text-flow" routerLink='/login'>Log In</a>
          <a class="btn anim-text-flow" routerLink="/signup">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</header>
<nav class="container navbar navbar-expand-lg navbar-dark" [ngClass]="currentFixed">
  <!-- <a class="navbar-brand anim-text-flow rounded p-1" href="#"><span class="text-white rounded">Filmdee</span></a> -->
  <a class="navbar-brand anim-text-flow rounded p-1" href="#"><span class="text-white rounded"> <img [src]="logo" alt=""></span></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02"
    aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <div class="dropdown">
          <a class="nav-link active dropdown-toggle waves-light" data-toggle="dropdown" href="#">THỂ LOẠI</a>
          <div class="dropdown-content rounded">
            <div class="row">
              <div class="column ">
                <a href="#">Hành Động</a>
                <a href="#">Tình Cảm</a>
                <a href="#">Hài Hước</a>
                <a href="#">Thần Thoại</a>
                <a href="#">Âm Nhạc</a>
                <a href="#">Khoa Học</a>
                <a href="#">Lịch Sử</a>
                <a href="#">Kiếm Hiệp</a>
                <a href="#">Tiểu Sử</a>
              </div>
              <div class="column">
                <a href="#">Phiêu Lưu</a>
                <a href="#">Hoạt Hình</a>
                <a href="#">Tâm Lý</a>
                <a href="#">Chiến Tranh</a>
                <a href="#">Hình Sự</a>
                <a href="#">Tài Liệu</a>
                <a href="#">Gia Đình</a>
                <a href="#">Kịch Tính</a>
              </div>
              <div class="column">
                <a href="#">Kinh Dị</a>
                <a href="#">Võ Thuật</a>
                <a href="#">Viễn Tưởng</a>
                <a href="#">Cổ Trang</a>
                <a href="#">TV Shows</a>
                <a href="#">Others</a>
                <a href="#">Thể Thao</a>
                <a href="#">Bí Ẩn</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <div class="dropdown">
          <a class="nav-link active dropdown-toggle waves-light" data-toggle="dropdown" href="#">QUỐC GIA</a>
          <div class="dropdown-content rounded">
            <div class="row">
              <div class="column">
                <a href="#">Mỹ</a>
                <a href="#">Trung Quốc</a>
                <a href="#">Nhật Bản</a>
                <a href="#">Ấn Độ</a>
                <a href="#">Hồng Kông</a>
                <a href="#">Canada</a>
              </div>
              <div class="column">
                <a href="#">Nga</a>
                <a href="#">Hàn Quốc</a>
                <a href="#">Châu Âu</a>
                <a href="#">Thái Lan</a>
                <a href="#">Pháp</a>
                <a href="#">Úc</a>
              </div>
              <div class="column">
                <a href="#">Đức</a>
                <a href="#">Đài Loan</a>
                <a href="#">Châu Á</a>
                <a href="#">Anh</a>
                <a href="#">Tây Ban Nha</a>
              </div>
            </div>
          </div>
        </div>
      <li class="nav-item dropdown">
        <div class="dropdown">
          <a class="nav-link active dropdown-toggle waves-light" data-toggle="dropdown" href="#">PHIM LẺ</a>
          <div class="dropdown-content rounded">
            <div class="row">
              <div class="column">
                <a href="#">Mới Nhất</a>
                <a href="#">Năm 2018</a>
                <a href="#">Năm 2017</a>
                <a href="#">Năm 2016</a>
              </div>
              <div class="column">
                <a href="#">Năm 2015</a>
                <a href="#">Năm 2014</a>
                <a href="#">Năm 2013</a>
                <a href="#">Năm 2012</a>
              </div>
              <div class="column">
                <a href="#">Năm 2011</a>
                <a href="#">Năm 2010</a>
                <a href="#">Năm 2009</a>
                <a href="#">Năm 2008</a>
              </div>
            </div>
          </div>
        </div>
      <li class="nav-item dropdown">
        <div class="dropdown">
          <a class="nav-link active dropdown-toggle waves-light" data-toggle="dropdown" href="#">PHIM BỘ</a>
          <div class="dropdown-content rounded">
            <div class="row">
              <div class="column">
                <a href="#">Mới Cập Nhật</a>
                <a href="#">Đài Loan</a>
                <a href="#">Hồng Kông</a>

              </div>
              <div class="column">
                <a href="#">Trung Quốc</a>
                <a href="#">Mỹ</a>
                <a href="#">Thái Lan</a>

              </div>
              <div class="column">
                <a href="#">Hàn Quốc</a>
                <a href="#">Nhật Bản</a>
                <a href="#">Ấn Độ</a>

              </div>
            </div>
          </div>
        </div>
      <li class="nav-item">
        <a class="nav-link active" href="#">PHIM CHIẾU RẠP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">BXH</a>
      </li>
    </ul>

    <search-bar class="form-inline"></search-bar>

  </div>
</nav>
