header {
  background-color: #0396FF;
  position: relative;
  z-index: 99;
}

nav {
  background: transparent;

  img {
    cursor: pointer;

    &:focus {
      outline: unset !important;
    }
  }
}

.btn {
  color: #ffffff;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 30px;
  padding: 0 20px;
  border-radius: 25px;
}

.btn:hover {
  color: #111111;
  background-color: white;
  background-size: 1000% 1000%;
  animation: rainbow 15s linear infinite;
  outline: none;
}

.topbar-right-btns {
  text-align: right;
}

.search-box {
  border: 1px solid #f2f2f2;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 470px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: #0396ff;

}

.nav-item a:hover {
  color: #0396ff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Change the background color of the dropdown button when the dropdown content is shown */
// .dropdown:hover .dropbtn {
//   background-color: #3e8e41;
// }

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 32%;
  padding-left: 30px;
  height: max-content;
}

/* Style links inside the columns */
.column a {
  float: none;
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar-brand {
  background: linear-gradient(105deg,
    #E2B0FF, #FFD26F, #A0FE65, #F97794, #92FFC0, #EEAD92, #FCCF31, #F761A1, #FEC163, #92FFC0, #EEAD92, #F6CEEC, #52E5E7, #FDEB71, #ABDCFF,
    #FEB692, #CE9FFC, #90F7EC, #FFF6B7, #81FBB8, #F761A1, #43CBFF, #5EFCE8, #FAD7A1, #FFD26F, #F6CEEC, #52E5E7, #5EFCE8, #FAD7A1, #A0FE65,
    #E2B0FF, #F97794, #FCCF31, #F761A1, #43CBFF, #5EFCE8, #FAD7A1, #FFD26F, #A0FE65, #FFDB01, #FEC163, #92FFC0, #EEAD92, #F6CEEC, #52E5E7);

  background-size: 1000% 1000%;
  border: 0;
  color: #fff;
  font-size: 200%;

  &:hover {
    animation: rainbow 15s linear infinite;

  }
}

@keyframes rainbow {
  0% {
    background-position: 100% 100%
  }

  100% {
    background-position: 0% 0%
  }
}

// .search-box {
//   padding-left: 10px;
//   padding-right: 10px;
//   background: white;
//   border-radius: 5px;
// }

// .search input {
//   text-indent: 30px;
// }

// .search .fa-search {
//   position: absolute;
//   top: 30%;
//   left: 85%;
//   font-size: 15px;
// }

.navbar-brand span {
  background: black;
  padding: 4px 5px 5px 4px;
}

.header-navbar {
  img {
    padding-bottom: 13px;
    width: 104px;
    margin-right: 5px;
    z-index: 200;
    position: relative;
    padding-top: 10px;

    &:focus {
      outline: none;
    }
  }

  z-index: 999;
  padding-left: 3%;
  padding-right: 3%;
  position: fixed;
  height: 55px;
}

.fixednav {
  position: fixed !important;
  top: 0px !important;
  transition-duration: .5s;
  background-color: rgb(20, 20, 20);
  left: 0;
  right: 0;
}


.set-width {
  width: 100%;
}

search-bar {
  position: relative;
  width: 100%;
  display: -webkit-inline-box;
}

.login,
.reg {
  background: #ffffff00;
  display: -webkit-inline-box;
  border: 2px solid #FFFFFF;
  color: white;
  border-radius: 35px;
  margin: 2px 0px;
  cursor: pointer;
}

.user {
  background: #ffffff00;
  display: -webkit-inline-box;
  border: 2px solid #FFFFFF;
  color: white;
  border-radius: 35px;
  margin: 2px 0px;
  cursor: pointer;
}

.user-center {
  display: flex;
  align-items: center;
}

span.name {
  padding: 0px 7px 0px 5px;
}

.navbar {
  justify-content: initial !important;
}

.width-100 {
  width: 100%;
}

.item-list {
  color: white;
  margin-right: 10px;
  padding: 2px 6px;
  cursor: pointer;
  list-style: none;
  font-weight: bold;

  &:hover {
    color: #0396ff;
    transition-duration: .3s
  }
}

nav.col-auto.pl-0 {
  display: flex;
}

.fix-margin {
  margin-top: 3px;
}


// Navbar


@media only screen and (max-width: 600px) {
  .menu {
    width: 250px;
    left: -250px;
    padding: 50px;
  }
}

.menu.active {
  left: 0;
}

.menu p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 829px) {
  .menu__toggler {
    display: -webkit-inline-box;
    width: 39px;
    height: 7px;
    z-index: 200;
    position: relative;
  }

  .menu__toggler span,
  .menu__toggler span::before,
  .menu__toggler span::after {
    position: absolute;
    content: '';
    width: 28px;
    height: 2.5px;
    background: #fafafa;
    border-radius: 20px;
    transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
  }

  .menu__toggler span::before {
    top: -8px;
  }

  .menu__toggler span::after {
    top: 8px;
  }

  .menu__toggler.active>span {
    background: transparent;
  }

  .menu__toggler.active>span::before,
  .menu__toggler.active>span::after {
    background: #0396ff;
    top: 0px;
  }

  .menu__toggler.active>span::before {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
  }

  .menu__toggler.active>span::after {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }

  /*
 * SLIDING MENU PANEL
 */
  .menu {
    top: 0;
    position: fixed;
    left: -300px;
    z-index: 2;
    color: #005c9c;
    background: rgb(39, 36, 36);
    -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    width: 260px;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 600ms left cubic-bezier(0.77, 0, 0.175, 1);
  }
}

.is-visible {
  transform: translateY(0);
}

.is-hidden {
  transform: translateY(-100%);
}


img.avatar {
  width: 33px !important;
  height: 33px !important;
  object-fit: cover;
  display: inline-block;
  padding: 0 !important;
  background: white;
  border-radius: 50%;
  margin: -1px;
  margin-right: 0px;
}

.dh {
  height: 40px;
  display: flex;
  align-items: center;
}

// Load

.preloader {
  // width: 80px;
  // margin-top: 1px;
  display: grid;
  grid-template-columns: 36px auto;
}

.preloader_top {
  height: 11px;
  width: 100%;
  margin: 5px 5px 5px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, rgba(238, 238, 238, 0.2) 8%, rgba(221, 221, 221, 0.5019607843137255) 18%, rgba(238, 238, 238, 0.2) 33%);
  background-size: 800px 104px;
}

.preloader_bot {
  height: 11px;
  width: 85%;
  margin: 5px 5px 5px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, rgba(238, 238, 238, 0.2) 8%, rgba(221, 221, 221, 0.5019607843137255) 18%, rgba(238, 238, 238, 0.2) 33%);
  background-size: 800px 104px;
}

.preloader_left {
  width: 36px;
  height: 36px;
  display: flex;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, rgba(238, 238, 238, 0.2) 8%, rgba(221, 221, 221, 0.5019607843137255) 18%, rgba(238, 238, 238, 0.2) 33%);
  background-size: 800px 104px;
}

.name_load {
  padding: 0px 7px 0px 5px;
  font-size: 16px;
  height: 0px;
  opacity: 0;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }

  100% {
    background-position: 468px 0
  }
}

.fix-menu {
  top: 55px !important;
}


// Extra small < 576px (.col-)

@media only screen and (max-width: 575px) {
  .hidden-mobile {
    display: none !important;
  }

  i.hidden-pc {
    outline: none;
  }

  .preloader {
    width: 36px;
  }

  .hot-m {
    display: -webkit-inline-box;
    padding: 0px 6px;
    color: #e74c3c;
  }

  .login {
    padding: 4px 8px;
  }

  .reg {
    padding: 4px 6px;
  }

  .user {
    padding: 0px;
  }

  .avatar {
    margin-right: -1px !important;
}
}

// Small ≥ 576px (.col-sm-)

@media only screen and (min-width: 576px) and (max-width: 829px) {
  .hidden-pc {
    display: none !important;
  }

  span.hidden-mobile {
    outline: none;
  }

  .hot-m {
    display: -webkit-inline-box;
    padding: 0px 6px;
    color: #fff000;
  }

  .login {
    padding: 4px 9px;
  }

  .reg {
    padding: 4px 9px;
  }

  .user {
    padding: 0px;
  }
}

// Medium ≥ 768px (.col-md-)

@media only screen and (min-width: 830px) and (max-width: 991px) {
  .hidden-mobile {
    display: none !important;
  }

  i.hidden-pc {
    outline: none;
  }

  .preloader {
    width: 36px;
  }

  .hot-m {
    display: none;
  }

  .login {
    padding: 4px 8px;
  }

  .reg {
    padding: 4px 6px;
  }

  .menu__toggler {
    display: none;
  }

  .user {
    padding: 0px;
  }
  
  .avatar {
    margin-right: -1px !important;
}

  .fix-focus {
    display: inline-flex !important;
  }
}

// Large ≥ 992px (.col-lg-)

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hidden-pc {
    display: none !important;
  }

  span.hidden-mobile {
    outline: none;
  }

  .hot-m {
    display: none;
  }

  .login {
    padding: 4px 9px;
  }

  .reg {
    padding: 4px 9px;
  }

  .menu__toggler {
    display: none;
  }

  .user {
    padding: 0px;
  }

  .fix-focus {
    display: inline-flex !important;
  }
}

// Extra large ≥ 1200px (.col-xl-)

@media only screen and (min-width: 1200px) {
  .hidden-pc {
    display: none !important;
  }

  span.hidden-mobile {
    outline: none;
  }

  .hot-m {
    display: none;
  }

  .login {
    padding: 4px 9px;
  }

  .user {
    padding: 0px;
  }

  .reg {
    padding: 4px 9px;
  }

  .menu__toggler {
    display: none;
  }

  .fix-focus {
    display: inline-flex !important;
  }
}
