<div class="item grid">
  <div class="cell cell-g">
    <div class="show">

      <img [src]="boxCard.link" />
      <div class="play">
        <a class="video-play-button" href="#">
          <span class="icon-play"></span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- <div class="item grid">
  <div class="cell cell-g">
    <div class="show">
      <div class="ep">{{boxCard.currentEp + '/' + boxCard.ep}}</div>
      <div class="quality">{{boxCard.quality}}</div>
      <img [src]="boxCard.link" />
      <div class="play">
        <a class="video-play-button" href="#">
          <span class="icon-play"></span>
        </a>
      </div>
      <div class="title">{{boxCard.title}}</div>
    </div>
  </div>
</div> -->
