<div routerLink="/xem/{{boxCard.link}}" class="item grid">
  <div class="cell cell-g">
    <div class="show">
      <div *ngIf="boxCard.total_ep > 1" class="ep">{{boxCard.now_ep + '/' + boxCard.total_ep}}</div>
      <div class="quality">{{boxCard.quality}}</div>
      <img async [lazySrc]="boxCard.image" lazySrcVisible="visible">


    <div class="play">
      <a class="video-play-button" href="#">
        <span class="icon-play"></span>
      </a>
    </div>
    <div class="title">{{boxCard.name_vi}}</div>
  </div>
</div>
