<div class="list-film">
  <div class="row list-header justify-content-between">
    <div class="col-8 col-md-4">
      <h3 class="list-title">Mới Cập Nhật</h3>
    </div>
    <div class="col-4 col-md-8 d-flex justify-content-end control-slide">
      <div class="list-nav row">
        <div (click)="owlCar.prev()" class="button-pre col-auto list-previous d-flex justify-content-center align-items-center"><i class="fal fa-arrow-circle-left"></i></div>
        <ul class="col-auto list-dots d-flex justify-content-center align-items-center">
          <li *ngFor="let total_dot of total_dots" [ngClass]="{'active' : total_dot.id == activeDot}" (click)="owlCar.to(total_dot.dot)" class="list-one-dot"></li>
        </ul>
        <div (click)="owlCar.next()" class="button-next col-auto list-next d-flex justify-content-center align-items-center"><i class="fal fa-arrow-circle-right"></i></div>
      </div>
    </div>
  </div>
  <div lazyViewport>
    <owl-carousel-o  [options]="customOptions" (translated)="active($event)" (initialized)="getData($event)" #owlCar>
      <ng-container  *ngFor="let listFilm of listFilms; let i = index">
        <ng-template carouselSlide [id]="i">
            <box-card [card]="listFilm"></box-card>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
