<div class="container-fluid">
  <div class="search-filter">
    <div class="row">
      <div class="col-lg-2 pr-0 pl-2" style=" border-left: 7px solid #fff;">
        <p class="title">
          {{search.prop1}}
        </p>
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            Thời gian<span class="caret"></span>
          </button>
          <select id="dropdown-basic" *dropdownMenu role="menu" aria-labelledby="button-basic">
            <option value="action" role="menuitem">a</option>
            <option value="te" role="menuitem">b</option>
            <!-- <li role="menuitem"><a class="dropdown-item" href="">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="">Separated link</a>
            </li> --> 
          </select>
        </div>
      </div>
      <div class="col-lg-2 d-none d-sm-block">
        <p class="title">
          {{search.prop2}}
        </p>
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            Tất cả <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="">Separated link</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 d-none d-sm-block">
        <p class="title">
          {{search.prop3}}
        </p>
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            Tất cả <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="">Separated link</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 d-none d-sm-block">
        <p class="title">
          {{search.prop4}}
        </p>
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            Tất cả <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="">Separated link</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 d-none d-sm-block">
        <p class="title">
          {{search.prop5}}
        </p>
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            Tất cả <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="">Separated link</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 d-none d-sm-block">
        <p class="title">
          {{search.prop6}}
        </p>
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            Tất cả <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="">Separated link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
