* {
  height: 100%;
}

#content {
  position: absolute;
  right: 0;
  top: 2px;
}

#content.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

// input:focus-within{
//   background: #838e96;
// }

input {
  position: absolute;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search {
  background: none;
  position: absolute;
  top: 0px;
  left: 0;
  height: 35px;
  width: 35px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  font-size: 15px;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  z-index: 201;
}

.square {
  position: absolute;
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 300px;
  height: 35px;
  border: 2px solid #FFFFFF;
  border-radius: 35px;
  background-color: #838e96;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s, background-size 2s ease-in;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s, background-size 2s ease-in;
  -webkit-transition-delay: 0s, 0s, 0s;
  transition-delay: 0s, 0s, 0s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  z-index: 200;
}

input:focus {
  border: 2px solid #FFFFFF !important;
}

@media only screen and (max-width: 575px) {

  .square {
    width: 215px;
  }

}
