* {
  height: 100%;
}

// input {
//   width: 90%;
// }

// .search-box {
//   padding-left: 10px;
//   padding-right: 10px;
//   background: white;
//   border-radius: 5px;
//   height: 100%;
// }

// .search input {
//   text-indent: 30px;
// }

// .search .fa-search {
//   position: absolute;
//   top: 30%;
//   left: 85%;
//   font-size: 15px;
// }


// Search

#content {
  position: absolute;
    right: 0;
    top: 2px;
}

#content.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

input {
  position: absolute;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search {
  background: none;
  position: absolute;
  top: 0px;
  left: 0;
  height: 35px;
  width: 35px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  font-size: 15px;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

// .search:before {
//   content: "";
//   position: absolute;
//   width: 18px;
//   height: 2px;
//   background-color: #fff;
//   -webkit-transform: rotate(45deg);
//   -ms-transform: rotate(45deg);
//   transform: rotate(45deg);
//   margin-top: 19px;
//   margin-left: 19px;
//   -webkit-transition: 0.2s ease-in-out;
//   transition: 0.2s ease-in-out;
// }

.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

// .close:before {
//   content: "";
//   position: absolute;
//   width: 27px;
//   height: 4px;
//   margin-top: -1px;
//   margin-left: -13px;
//   background-color: #fff;
//   -webkit-transform: rotate(45deg);
//   -ms-transform: rotate(45deg);
//   transform: rotate(45deg);
//   -webkit-transition: 0.2s ease-in-out;
//   transition: 0.2s ease-in-out;
// }

// .close:after {
//   content: "";
//   position: absolute;
//   width: 27px;
//   height: 4px;
//   background-color: #fff;
//   margin-top: -1px;
//   margin-left: -13px;
//   cursor: pointer;
//   -webkit-transform: rotate(-45deg);
//   -ms-transform: rotate(-45deg);
//   transform: rotate(-45deg);
// }

.square {
  position: absolute;
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 300px;
  height: 35px;
  border: 2px solid #FFFFFF;
  border-radius: 35px;
  background: none;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

input:focus {
  border: 2px solid #FFFFFF !important;
}
