<div class="background">
  <div class="login">
    <!-- <img class="logo" src="../../../assets/images/logo-filmdee.png"> -->
    <div class="container-login">
      <div class="title">Đăng Nhập</div>
      <div class="cap">Sử dụng tài khoản của bạn để đăng nhập và sử dụng dịch vụ của chúng tôi!</div>
      <div (click)="login2()" class="fb"><i class="fab fa-facebook-f"></i> Đăng nhập bằng Facebook</div>
      <div class="or">- HOẶC -</div>
      <div (click)="login()" class="goo"><i class="fab fa-google-plus-g"></i> Đăng nhập bằng Google</div>
    </div>
  </div>
</div>