<div class="content-detail">
  <ng-scrollbar class="detail-scrollbar">
    <div class="row">
      <div class="detail-col col-6">Phát Hành: 12/10/2018</div>
      <div class="detail-col col-6">Quốc Gia: Mỹ</div>
      <div class="detail-col col-6">Đạo Diễn: Ryan Coogler</div>
      <div class="detail-col col-6">Tác Giả: Stan Lee</div>
    </div>
    <img class="detail-img" src="https://firebasestorage.googleapis.com/v0/b/phimdee-image.appspot.com/o/info01.jpg?alt=media&token=886b3334-efa4-4852-b6fd-9c890323bec1">
    <div class="detail-text">Chiến binh Báo Đen (tiếng Anh: Black Panther) là một phim của điện ảnh Hoa Kỳ dựa
      trên nhân vật siêu anh hùng cùng tên của hãng Marvel Comics, sản xuất bởi Marvel Studios và phân phối bởi
      Walt Disney Studios Motion Pictures. Đây là bộ phim thứ 18 trong Vũ trụ Điện ảnh Marvel (MCU), đồng thời
      đánh dấu bộ phim siêu anh hùng da màu đầu tiên.</div>
    <img class="detail-img" src="https://firebasestorage.googleapis.com/v0/b/phimdee-image.appspot.com/o/info02.jpg?alt=media&token=f2bd8aad-011d-469c-abcc-ba693256e9e8">
    <div class="detail-text">Vương quốc Wakanda, quê hương của Black Panther / T'Challa hiện ra qua lời kể của
      một nhân chứng sống sót trở về. Đây là quốc gia khá khép kín và sở hữu lượng Vibranium lớn nhất trên thế
      giới. Black Panther - người cầm quyền của Wakanda sở hữu bộ áo giáp chống đạn và móng vuốt sắc nhọn, anh
      được miêu tả là “người tốt với trái tim nhân hậu”. Nhưng cũng chính vì những đức tính tốt này mà Black
      Panther gặp khó khăn khi kế thừa ngai vàng sau khi vua cha băng hà. Đối mặt với sự phản bội và hiểm nguy,
      vị vua trẻ phải tập hợp các đồng minh và phát huy toàn bộ sức mạnh của Black Panther để đánh bại kẻ thù,
      đem lại an bình cho nhân dân của mình.</div>
  </ng-scrollbar>
</div>