<div class="content-detail">
  <ng-scrollbar class="detail-scrollbar">
    <div class="row">
      <div class="detail-col col-6">Phát Hành: {{detail.launch.day}}/{{detail.launch.month}}/{{detail.launch.year}}</div>
      <div class="detail-col col-6">Quốc Gia: {{detail.nation}}</div>
      <div class="detail-col col-6">Đạo Diễn: {{detail.directors}}</div>
      <div class="detail-col col-6">Tác Giả: {{detail.author}}</div>
    </div>
    <img class="detail-img" src="{{detail.image1}}">
    <div class="detail-text">{{detail.description1}}</div>
    <img class="detail-img" src="{{detail.image2}}">
    <div class="detail-text">{{detail.description2}}</div>
  </ng-scrollbar>
</div>