<div class="container-fluid">
  <div class="row">
    <div class="col-3 left-info">
      <div class="logo">
        <img src="assets/images/movie-detail/39492_logo.png" alt="">
      </div>
      <div class="vote-time">
        <i class="fa fa-star mr-1" aria-hidden="true"></i>
        <span>8,5</span>
        <i class="fa fa-square" aria-hidden="true"></i>
        <span>2015</span>
        <i class="fa fa-square" aria-hidden="true"></i>
        <span>89 phút</span>
        <i class="fa fa-square" aria-hidden="true"></i>
        <span>HD</span>
      </div>
      <p>Bo là nhóc tì 4 tuổi bất đắc dĩ sa vào nhà trẻ Thiên Đường - vỏ bọc của băng nhóm bắt cóc trẻ em cầm đầu bởi Bạch Kim ''mama''. Không chấp nhận số phận, Bo đã cùng 3 người bạn, tìm cách trốn khỏi sự truy đuổi của những cô bảo mẫu đáng sợ. </p>
      <ul class="kind row mx-0">
        <li><span>Thể loại: </span></li>
        <li><a href="#">Phim,</a></li>
        <li><a href="#">Gia Đình,</a></li>
        <li><a href="#">Hài Hước,</a></li>
        <li><a href="#">Phiêu Lưu</a></li>
      </ul>
      <ul class="tag row mx-0">
        <li><span>Tags</span></li>
        <li><a href="#">Hài Tết</a></li>
        <li><a href="#">Hài</a></li>
      </ul>
      <div class="button">
        <a href="#" class="btn btn-trailer mr-2">
            <i class="far fa-play-circle"></i>
            <span>XEM NGAY</span>
        </a>
        <a href="#" class="btn btn-like">
            <i class="fal fa-plus-circle"></i>
            <span>YÊU THÍCH</span>
        </a>
      </div>
    </div>
    <div class="col-9 right-image">
    </div>
  </div>
</div>
