.content-menu {
  height: 100%;
  position: relative;
}

.film-content {
  position: relative;
  z-index: 41;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #141414 0%, rgba(0, 0, 0, 0) 100%);
}

.film-title {
  color: white;
  font-size: 40px;
  font-weight: 800;
  line-height: 42px;
  margin-top: 12px;
}

.content-fill {
  width: 40%;
  padding: 0px 3% 0px;
  color: white;
  position: relative;
}

img.film-logo {
  height: 80px;
}

.info-like {
  display: inline-block;
  padding: 2px 10px 2px 0px;
}

.info-like i.fas.fa-heart {
  font-size: 14px;
  position: relative;
  top: -1px;
  color: #f25268;
}

.info-year {
  display: inline-block;
  color: #007bff;
  font-weight: 800;
  padding: 2px 10px 2px 10px;
  position: relative;
}

.info-year::before {
  content: "";
  width: 2px;
  height: 2px;
  background: white;
  position: absolute;
  top: 50%;
  left: 0;
}

.info-time {
  display: inline-block;
  padding: 2px 10px 2px 10px;
  position: relative;
}

.info-time::before {
  content: "";
  width: 2px;
  height: 2px;
  background: white;
  position: absolute;
  top: 50%;
  left: 0;
}

i.far.fa-clock {
  font-size: 13px;
  position: relative;
  top: -1px;
}

.info-quality {
  display: inline-block;
  padding: 2px 10px 2px 10px;
  position: relative;
}

span.quality-value {
  border: 1px solid;
  padding: 0px 8px;
  font-size: 12px;
  position: relative;
  top: -2px;
}

.info-quality::before {
  content: "";
  width: 2px;
  height: 2px;
  background: white;
  position: absolute;
  top: 50%;
  left: 0;
}

.info-old {
  display: inline-block;
  padding: 2px 0px 2px 10px;
  position: relative;
}

span.old-value {
  border: 1px solid;
  padding: 0px 8px;
  font-size: 12px;
  position: relative;
  top: -2px;
  background: #141414;
}

.info-old::before {
  content: "";
  width: 2px;
  height: 2px;
  background: white;
  position: absolute;
  top: 50%;
  left: 0;
}

.film-info {
  margin: 10px 0px;
}

.control-play {
  display: inline-block;
  background: #0396ff;
  padding: 6px 15px;
  border-radius: 35px;
  border: 2px solid #0396ff;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.control-play:hover {
  background: white;
  color: #0396ff;
  border-color: white;
}

i.fas.fa-play {
  padding-right: 5px;
}

i.far.fa-plus {
  padding-right: 5px;
}

.control-add {
  display: inline-block;
  background: #0396ff00;
  padding: 6px 15px;
  border-radius: 35px;
  border: 2px solid;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.control-add:hover {
  background: white;
  color: #0396ff;
  border-color: white;
}

.film-control {
  margin: 20px 0px 5px;
}

.control-like {
  display: inline-block;
  border: 2px solid;
  padding: 3px 9px;
  font-size: 20px;
  border-radius: 40px;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.control-like:hover {
  background: #f25268;
  border-color: #f25268;
  color: white;
}

.control-like i.fas.fa-heart {
  font-size: 18px;
  top: 1px;
  position: relative;
}

.control-share {
  display: inline-block;
  border: 2px solid;
  padding: 3px 8px;
  font-size: 20px;
  border-radius: 40px;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.control-share:hover {
  background: #37944c;
  border-color: #37944c;
  color: white;
}

// Tags

div.tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tags span {
  margin-right: 1em;
  padding: 1em;
  text-transform: uppercase;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  border-left: 2px solid #656d73;
  background: linear-gradient(to right, #0396ff, #3d844d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tags-list a {
  text-decoration: none;
  white-space: nowrap;
  font-size: 11px;
  color: #a1a1af;
  font-weight: 700;
}

a.tag {
  display: inline-block;
  padding: 4px 10px;
  margin: 0.5em;
  text-transform: uppercase;
  border: 2px solid #656d73;
  border-radius: 2em;
  transition: transform 0.2s;
  transition-timing-function: cubic-bezier(0.45, -0.85, 0.55, -0.45);
}

a.tag:hover {
  transform: scale(1.2);
  background: linear-gradient(to right, #0396ff, #3d844d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Menu

.menul {
  display: flex;
  top: calc(100vh - 30px);
  padding: 0px 3%;
  position: absolute;
}

.menu-list {
  color: white;
  padding: 2px 10px;
  border-bottom: 1px solid #0396ff;
  cursor: pointer;
}

.menul .active {
  background: #0396ff;
}

.content-detail {
  width: 40%;
  padding: 0px 3% 0px;
  color: white;
  position: relative;
}

.detail-col {
  font-size: 15px;
}

.detail-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin: 15px 0px;
  opacity: 0.7;
  border-radius: 5px;
}

.detail-scrollbar,
.actor-scrollbar {
  height: calc(100vh - 180px) !important;
}

.ng-scroll-view {
  overflow-x: hidden !important;
  width: calc(100% + 8px) !important;
}

.detail-text {
  padding-right: 10px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
}

// Detail

.content-actor {
  width: 40%;
  padding: 100px 3% 0px;
  color: white;
  height: 100%;
}

.actor-image {
  width: 100%;
}

.actor-name {
  background: #42615b;
  font-size: 13px;
  padding: 5px 5px;
  position: relative;
  top: -29px;
  text-align: center;
}

.actor-vai {
  background: #9a8868;
  font-size: 13px;
  padding: 5px 5px;
  position: relative;
  top: -29px;
  text-align: center;
}

ng-scrollbar-y {
  display: block !important;
}

.content-comment {
  width: 40%;
  padding: 100px 3% 0px;
  color: white;
  height: 100%;
}

// Extra small < 375px (.col-)

@media only screen and (max-width: 374px) {
  .film-info {
    display: inline-block;
  }
}

@media only screen and (min-width: 375px) and (max-width: 991px) {
  .film-info {
    display: flex;
  }
}

// @media only screen and (min-width: 601px) and (max-width: 991px) {
//   .content-detail,
//   .content-actor,
//   .content-comment {
//     padding: 0px 0% 0px 3% !important;
//   }
// }

// Fix size font Menu


@media only screen and (min-width: 354px) and (max-width: 425px) {
  .menu-list {
    font-size: 13px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 353px) {
  .menu-list {
    font-size: 12px;
  }
}

@media only screen and (min-width: 435px) and (max-width: 575px) {
  .film-control {
    display: flex;
    justify-content: center;
  }
}

// Extra small < 576px (.col-)

@media only screen and (max-width: 575px) {
  .film-video {
    height: 450px;
    position: relative;
    display: block;
  }

  .content-fill,
  .content-detail,
  .content-actor,
  .content-comment {
    width: 100% !important;
  }

  
  .content-actor,
  .content-comment {
    padding-top: 0px !important;
  }

  .film-content {
    background: none;
    display: block;
    top: -150px;
  }

  .film-title {
    font-size: 30px;
    text-align: center;
  }

  .logof {
    display: flex;
    justify-content: center;
  }

  .film-info {
    justify-content: center;
  }

  .video-index {
    margin-bottom: -130px;
  }

  .menul {
    display: flex;
    top: inherit;
    padding: 0px 3%;
    position: initial;
    margin-top: 30px;
    justify-content: center;
  }

  .content-detail,
  .content-comment {
    background: #141414bd;
    padding-top: 10px;
  }
  

  .list-video-play {
    margin-top: -70px;
    z-index: 45;
    position: relative;
  }
}

// Small ≥ 576px (.col-sm-)

@media only screen and (min-width: 576px) and (max-width: 767px) {

  .film-video {
    height: 450px;
    position: relative;
    display: block;
  }

  .content-fill,
  .content-detail,
  .content-actor,
  .content-comment {
    width: 100% !important;
  }

  
  .content-actor,
  .content-comment {
    padding-top: 0px !important;
  }

  .film-content {
    background: none;
    display: block;
    top: -150px;
  }

  .film-title {
    font-size: 30px;
    text-align: center;
  }

  .logof {
    display: flex;
    justify-content: center;
  }

  .film-info {
    justify-content: center;
  }

  .video-index {
    margin-bottom: -130px;
  }

  .menul {
    display: flex;
    top: inherit;
    padding: 0px 3%;
    position: initial;
    margin-top: 30px;
    justify-content: center;
  }

  .detail-scrollbar,
  .actor-scrollbar {
    height: inherit !important;
  }

  .content-detail,
  .content-comment {
    background: #141414bd;
    padding-top: 10px;
  }

  .film-control {
    display: flex;
    justify-content: center;
}

.list-video-play {
  margin-top: -70px;
  z-index: 45;
  position: relative;
}
}

// Medium ≥ 768px (.col-md-)
@media only screen and (min-width: 768px) and (max-width: 991px) {
  
  .film-video {
    height: 450px;
    position: relative;
    display: block;
  }

  .content-fill,
  .content-detail,
  .content-actor,
  .content-comment {
    width: 100% !important;
  }

  
  .content-actor,
  .content-comment {
    padding-top: 0px !important;
  }

  .film-content {
    background: none;
    display: block;
    top: -150px;
  }

  .film-title {
    font-size: 30px;
    text-align: center;
  }

  .logof {
    display: flex;
    justify-content: center;
  }

  .film-info {
    justify-content: center;
  }

  .video-index {
    margin-bottom: -130px;
  }

  .menul {
    display: flex;
    top: inherit;
    padding: 0px 3%;
    position: initial;
    margin-top: 30px;
    justify-content: center;
  }

  .detail-scrollbar,
  .actor-scrollbar {
    height: inherit !important;
  }

  .content-detail,
  .content-comment {
    background: #141414bd;
    padding-top: 10px;
  }

  .film-control {
    display: flex;
    justify-content: center;
}

.list-video-play {
  margin-top: -70px;
  z-index: 45;
  position: relative;
}
}

// Large ≥ 992px (.col-lg-)

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .film-video {
    height: 100vh;
    position: relative;
    margin-bottom: 30px;
    display: block;
  }

  .film-content {
    position: absolute;
    top: 0px;
    height: 100vh;
  }

  .film-title {
    font-size: 30px;
  }

  .content-fill {
    width: 50%;
  }
}

// Extra large ≥ 1200px (.col-xl-)

@media only screen and (min-width: 1200px) {
  .film-video {
    height: 100vh;
    position: relative;
    margin-bottom: 30px;
    display: block;
  }

  .film-content {
    position: absolute;
    top: 0px;
    height: 100vh;
  }
}
