.content-menu {
  height: 100%;
  position: relative;
}

.film-content {
  position: relative;
  z-index: 41;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #141414 0%, rgba(0, 0, 0, 0) 100%);
}

// Menu

app-content, app-detail, app-actor, app-comment {
  position: relative;
  height: 100%;
}

.menul {
  display: flex;
  top: calc(100vh - 30px);
  padding: 0px 3%;
  position: absolute;
}

.menu-list {
  color: white;
  padding: 2px 10px;
  border-bottom: 1px solid #0396ff;
  cursor: pointer;
}

.menul .active {
  background: #0396ff;
}

.ng-scroll-view {
  overflow-x: hidden !important;
  width: calc(100% + 8px) !important;
}

ng-scrollbar-y {
  display: block !important;
}

.play-container {
  top: 80px;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-bottom: 30px;
  display: block;
  z-index: 41;
  padding: 10px;
}

.tools {
  background: #ced5da9e;
  margin: 0;
  padding: 5px 0px;
}

.server {
  display: inline-flex;
  margin-right: 6px;
}

.button-mars {
  display: inline-flex;
  background: #b54c24;
  color: white;
  padding: 4px 8px;
  border-radius: 18px;
  align-items: center;
  font-weight: 300;
  cursor: pointer;
  margin-right: 6px;
}

span.mars {
  width: 20px;
  height: 20px;
  background: url('../../../assets/images/icons/mars.svg');
  display: inline-block;
  background-size: cover;
  margin-right: 6px;
}

.sv-ch {
  display: flex;
  align-items: center;
}

.button-earth {
  display: inline-flex;
  background: #316b3b;
  color: white;
  padding: 4px 8px;
  border-radius: 18px;
  align-items: center;
  font-weight: 300;
  cursor: pointer;
  margin-right: 6px;
}

span.earth {
  width: 20px;
  height: 20px;
  background: url('../../../assets/images/icons/planet-earth.svg');
  display: inline-block;
  background-size: cover;
  margin-right: 6px;
}

.button-moon {
  display: inline-flex;
  background: #c19b2b;
  color: white;
  padding: 4px 8px;
  border-radius: 18px;
  align-items: center;
  font-weight: 300;
  cursor: pointer;
  margin-right: 6px;
}

span.moon {
  width: 20px;
  height: 20px;
  background: url('../../../assets/images/icons/crescent-moon.svg');
  display: inline-block;
  background-size: cover;
  margin-right: 6px;
}

.button-mercury {
  display: inline-flex;
  background: #437da7;
  color: white;
  padding: 4px 8px;
  border-radius: 18px;
  align-items: center;
  font-weight: 300;
  cursor: pointer;
  margin-right: 6px;
}

span.mercury {
  width: 20px;
  height: 20px;
  background: url('../../../assets/images/icons/mercury.svg');
  display: inline-block;
  background-size: cover;
  margin-right: 6px;
}

.active-sv {
  animation: xoayvong 4s linear 0s infinite;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes xoayvong{
  from{
      -webkit-transform:rotate(0deg);
      -moz-transform:rotate(0deg);
      -o-transform:rotate(0deg);
  }
  to{
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
  }
}
/* Standard syntax */ 
@keyframes xoayvong {
  from{
      -webkit-transform:rotate(0deg);
      -moz-transform:rotate(0deg);
      -o-transform:rotate(0deg);
  }
  to{
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
  }
}

// Fix size font Menu


@media only screen and (min-width: 354px) and (max-width: 425px) {
  .menu-list {
    font-size: 13px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 353px) {
  .menu-list {
    font-size: 12px;
  }
}

// Extra small < 576px (.col-)

@media only screen and (max-width: 575px) {
  .film-video {
    height: 450px;
    position: relative;
    display: block;
  }

  .film-content {
    background: none;
    display: block;
    top: -150px;
  }

  .video-index {
    margin-bottom: -130px;
  }

  .menul {
    display: flex;
    top: inherit;
    padding: 0px 3%;
    position: initial;
    margin-top: 30px;
    justify-content: center;
  }
  

  .list-video-play {
    margin-top: -70px;
    z-index: 45;
    position: relative;
  }
}

// Small ≥ 576px (.col-sm-)

@media only screen and (min-width: 576px) and (max-width: 767px) {

  .film-video {
    height: 450px;
    position: relative;
    display: block;
  }

  .film-content {
    background: none;
    display: block;
    top: -150px;
  }

  .video-index {
    margin-bottom: -130px;
  }

  .menul {
    display: flex;
    top: inherit;
    padding: 0px 3%;
    position: initial;
    margin-top: 30px;
    justify-content: center;
  }

.list-video-play {
  margin-top: -70px;
  z-index: 45;
  position: relative;
}
}

// Medium ≥ 768px (.col-md-)
@media only screen and (min-width: 768px) and (max-width: 991px) {
  
  .film-video {
    height: 450px;
    position: relative;
    display: block;
  }

  .film-content {
    background: none;
    display: block;
    top: -150px;
  }

  .video-index {
    margin-bottom: -130px;
  }

  .menul {
    display: flex;
    top: inherit;
    padding: 0px 3%;
    position: initial;
    margin-top: 30px;
    justify-content: center;
  }

.list-video-play {
  margin-top: -70px;
  z-index: 45;
  position: relative;
}
}

// Large ≥ 992px (.col-lg-)

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .film-video {
    height: 100vh;
    position: relative;
    margin-bottom: 30px;
    display: block;
  }

  .film-content {
    position: absolute;
    top: 0px;
    height: 100vh;
  }
}

// Extra large ≥ 1200px (.col-xl-)

@media only screen and (min-width: 1200px) {
  .film-video {
    height: 100vh;
    position: relative;
    margin-bottom: 30px;
    display: block;
  }

  .film-content {
    position: absolute;
    top: 0px;
    height: 100vh;
  }
}
