<div class="home-play">
  <div class="video-index">
    <app-videos class="film-video" [play]="play" [video]="Video" [Check_Poster]="check_poster" [Check_Video]="check_video"></app-videos>
    
    <div *ngIf="!play" class="film-content">
      <div class="content-menu">
        <app-content (voted)="onVoted($event)" [ngStyle]="styleObject0()"></app-content>
        <app-detail [ngStyle]="styleObject1()"></app-detail>
        <app-actor [ngStyle]="styleObject2()"></app-actor>
        <app-comment [ngStyle]="styleObject3()"></app-comment>
        <div class="menul">
          <div *ngFor="let menu of menus; let i = index" (click)="active(i)" [ngClass]="{'active': menu.active}" class="menu-list">{{menu.name}}</div>
        </div>
      </div>
    </div>

    <div *ngIf="play" class="play-container">
      <div class="row">
        <div class="col-auto ads"></div>
        <div class="col-9">
          <app-jwplayer></app-jwplayer>
          <div class="tools row">
            <div class="col-7 sv-ch">
              <div class="server">Máy chủ:</div>
              <div class="button-mars"><span class="mars"></span> Mars</div>
              <div class="button-earth"><span class="earth"></span> Earth</div>
              <div class="button-moon"><span class="moon"></span> Moon</div>
              <div class="button-mercury"><span class="active-sv mercury"></span> Mercury</div>
            </div>
            <div class="col-5"></div>
          </div>
        </div>
        <div class="col-auto ads"></div>
      </div>
    </div>
    
  </div>
  <div class="list-video-play">
    <app-slide-list></app-slide-list>
  </div>
  <button (click)="kl()"></button>
</div>
