<div class="home-play">
  <!-- <app-movie-detail></app-movie-detail> -->
  <div class="video-index">
    <app-videos [video]="Video"></app-videos>
    <div class="film-content">
      <div class="content-menu">

        <!-- Content Info -->
        <div *ngIf="menus[0].active" class="content-fill">
          <img class="film-logo" src="../../../assets/images/logo-film.png">
          <div class="film-title">Chiến Binh Báo Đen</div>
          <div class="film-info">
            <div class="info-like"><i class="fas fa-heart"></i> 347</div>
            <div class="info-year">2019</div>
            <div class="info-time"><i class="far fa-clock"></i> 127 phút</div>
            <div class="info-quality"><span class="quality-value">4K</span></div>
            <div class="info-old"><span class="old-value">16+</span></div>
          </div>
          <div class="film-text">A forensics expert who wakes from a coma with amazing new powers squares off against
            forces threatening the city in this live-action superhero romp.</div>
          <div class="film-control">
            <div class="control-play"><i class="fas fa-play"></i> Xem Ngay</div>
            <div class="control-add"><i class="far fa-plus"></i> Lưu List</div>
            <div class="control-like"><i class="fas fa-heart"></i></div>
          </div>
          <div class="film-tags">
            <div class="tags">
              <span>Tags</span>
              <div class="tags-list">
                  <a class="tag" href="#">Phim Lẻ</a>
                  <a class="tag" href="#">Hành Động</a>
                  <a class="tag" href="#">Tâm Lý</a>
                  <a class="tag" href="#">Nhiều Tập</a>
                  <a class="tag" href="#">DC Commit</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Chi Tiết -->
        <div *ngIf="menus[1].active" class="content-detail">Chi Tiết</div>

        <!-- Chi Tiết -->
        <div *ngIf="menus[2].active" class="content-actor">Diễn Viên</div>

        <!-- Chi Tiết -->
        <div *ngIf="menus[3].active" class="content-comment">Thảo Luận</div>

        <!-- Menu -->
        <div class="menul">
          <div *ngFor="let menu of menus; let i = index" (click)="active(i)" [ngClass]="{'active': menu.active}" class="menu-list">{{menu.name}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
