video#background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 11;
}

.fa-volume-up:before {
  padding: 7px 6px !important;
}

.fa-volume-up:before,
.fa-volume-mute:before,
.fa-redo:before {
  color: white;
  position: absolute;
  border: 2px solid white;
  padding: 7px;
  font-size: 17px;
  border-radius: 50%;
  // background: #595d6187;
  background-color: rgba(89,93,97,0.529);
  cursor: pointer;
}

.background-bot-video {
  position: absolute;
    z-index: 41;
    height: 70px;
    width: 100%;
    bottom: -3px;
    background: linear-gradient(to top, #141414, rgba(1, 0, 0, 0));
}



// Button Play Hover

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 25px;
  height: 32px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #1e67b573;
  border-radius: 50%;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: #1e67b5;
}

.video-play-button:hover>.icon-play {
  border-left: 25px solid #ffffff;
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 25px solid #ffffff9e;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.play {
  position: absolute;
  z-index: 41;
  top: calc(50% - 35px);
  left: 50%;
}


// Extra small < 576px (.col-)

@media only screen and (max-width: 575px) {

  #background {
    height: 450px !important;
  }

  video#background {
    object-fit: cover;
  }

  .button-control {
    position: absolute;
    z-index: 50;
    bottom: 160px;
    right: 3%;
    width: 35px;
    height: 35px;
  }

  img.imgp {
    position: absolute;
    width: 100%;
    height: 450px;
    object-fit: cover;
    z-index: 30;
  }
}

// Small ≥ 576px (.col-sm-)

@media only screen and (min-width: 576px) and (max-width: 767px) {

  #background {
    height: 507px !important;
  }

  video#background {
    object-fit: cover;
  }

  .button-control {
    position: absolute;
    z-index: 50;
    bottom: 160px;
    right: 3%;
    width: 35px;
    height: 35px;
  }

  img.imgp {
    position: absolute;
    width: 100%;
    height: 450px;
    object-fit: cover;
    z-index: 30;
  }
}

// Medium ≥ 768px (.col-md-)
@media only screen and (min-width: 768px) and (max-width: 991px) {

  #background {
    height: 560px !important;
  }

  video#background {
    object-fit: cover;
  }

  .button-control {
    position: absolute;
    z-index: 50;
    bottom: 160px;
    right: 3%;
    width: 35px;
    height: 35px;
  }

  img.imgp {
    position: absolute;
    width: 100%;
    height: 450px;
    object-fit: cover;
    z-index: 30;
  }
}

// Large ≥ 992px (.col-lg-)

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #background {
    height: 100vh !important;
  }

  video#background {
    object-fit: cover;
  }

  .button-control {
    position: absolute;
    z-index: 50;
    bottom: 160px;
    right: 3%;
    width: 35px;
    height: 35px;
  }

  img.imgp {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 30;
  }
}

// Extra large ≥ 1200px (.col-xl-)

@media only screen and (min-width: 1200px) {
  #background {
    height: 100vh !important;
  }

  video#background {
    object-fit: cover;
  }

  .button-control {
    position: absolute;
    z-index: 50;
    top: calc(100vh - 266px);
    right: 3%;
    width: 35px;
    height: 35px;
  }

  img.imgp {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 30;
  }
}
