@media only screen and (max-width: 575px) {
  .video-index {
    height: 450px;
    position: relative;
  }

  .list-video-play {
    margin-top: -120px;
    z-index: 45;
    position: relative;
  }
}

// Small ≥ 576px (.col-sm-)

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .video-index {
    height: 507px;
    position: relative;
  }

  .list-video-play {
    margin-top: -120px;
    z-index: 45;
    position: relative;
  }
}

// Medium ≥ 768px (.col-md-)
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .video-index {
    height: 560px;
    position: relative;
  }

  .list-video-play {
    margin-top: -120px;
    z-index: 45;
    position: relative;
  }
}

// Large ≥ 992px (.col-lg-)

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .video-index {
    height: calc(100vw / 16 * 9);
    position: relative;
  }

  .list-video-play {
    margin-top: -120px;
    z-index: 45;
    position: relative;
  }
}

// Extra large ≥ 1200px (.col-xl-)

@media only screen and (min-width: 1200px) {
  .video-index {
    height: calc(100vw / 16 * 9);
    position: relative;
  }

  .list-video-play {
    margin-top: -240px;;
    z-index: 45;
    position: relative;
  }
}
