.video-index {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.list-video-play {
    margin-top: -200px;
    position: relative;
    z-index: 100;
}



@media only screen and (max-width: 575px) {
  .list-video-play {
    margin-top: -290px;
}
}
