video#background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 11;
}

.fa-volume-up:before,
.fa-volume-mute:before,
.fa-redo:before {
  color: white;
  position: absolute;
  border: 2px solid white;
  padding: 7px;
  font-size: 17px;
  border-radius: 50%;
  background: #595d6187;
}

.backgrourd-video {
  background: url(../../../../assets/images/background.jpg);
  background-size: cover;
  position: absolute;
  z-index: 12;
  height: calc(100vw / 16 * 9);
  width: 100%;
}

// Content

.content {
  position: relative;
  bottom: 0;
  top: 0;
  // background: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to right, rgba(1, 0, 0, 1), rgba(1, 0, 0, 0));
  color: #f1f1f1;
  width: 50%;
  height: 100%;
  padding: 3%;
  padding-top: 18%;
  z-index: 40;

  .title {
    width: 100%;
    overflow: hidden;
  }

  .title-line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .content-text {
    width: 100%;
    overflow: hidden;
  }

  .content-text-line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  p {
    font-size: 15px;
    color: white;
  }

  img {
    width: 300px;
  }

  button {
    border: 2px solid #FFFFFF;
    background-color: transparent !important;
    color: white;
    border-radius: 35px;
    transition: all 0.3s;
    
    &:focus {
      outline: unset !important;
      box-shadow: unset !important;
    }

    &:hover{
      background-color: #FFFFFF !important;
      color: #000000 !important;
    }

    &:active {
      border-color: #ffffff;
      color: #FFFFFF !important;
      background-color: #000000 !important;
    }

  }
}

.background-bot-video {
  position: absolute;
  z-index: 41;
  height: 55px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to top, #141414, rgba(1, 0, 0, 0));
}

// Extra small < 576px (.col-)

@media only screen and (max-width: 575px) {
  .content {
    height: 100% !important;
    width: 60% !important;
    padding: 100px  3%;


    img {
      display: none !important;
    }
  }

  #background {
    height: 450px !important;
  }

  video#background {
    object-fit: cover;
  }

  .button-control {
    position: absolute;
    z-index: 41;
    bottom: 160px;
    right: 3%;
    width: 35px;
    height: 35px;
  }
}

// Small ≥ 576px (.col-sm-)

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .content {
    height: 100% !important;
    width: 50% !important;
    padding: 100px  3%;


    img {
      display: block !important;
      width: 50%;
    }
  }

  #background {
    height: 507px !important;
  }

  video#background {
    object-fit: cover;
  }

  .button-control {
    position: absolute;
    z-index: 41;
    bottom: 160px;
    right: 3%;
    width: 35px;
    height: 35px;
  }
}

// Medium ≥ 768px (.col-md-)
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .content {
    height: 100% !important;
    width: 50% !important;
    padding: 100px  3%;


    img {
      display: block !important;
      width: 80%;
    }
  }

  #background {
    height: 560px !important;
  }

  video#background {
    object-fit: cover;
  }

  .button-control {
    position: absolute;
    z-index: 41;
    bottom: 160px;
    right: 3%;
    width: 35px;
    height: 35px;
  }
}

// Large ≥ 992px (.col-lg-)

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .content {
    height: 100% !important;
    width: 50% !important;
    padding: 100px 3%;


    img {
      display: block !important;
      width: 70%;
    }
  }

  #background {
    height: calc(100vw / 16 * 9) !important;
  }

  video#background {
    object-fit: cover;
  }

  .button-control {
    position: absolute;
    z-index: 41;
    bottom: 160px;
    right: 3%;
    width: 35px;
    height: 35px;
  }
}

// Extra large ≥ 1200px (.col-xl-)

@media only screen and (min-width: 1200px) {
  .content {
    height: 100% !important;
    width: 50% !important;
    padding: 10% 3%;


    img {
      display: block !important;
      width: 70%;
    }
  }

  #background {
    height: calc(100vw / 16 * 9) !important;
  }

  video#background {
    object-fit: cover;
  }

  .button-control {
    position: absolute;
    z-index: 41;
    bottom: 326px;
    right: 3%;
    width: 35px;
    height: 35px;
  }
}
