

// Content

.content {
  position: relative;
  bottom: 0;
  top: 0;
  // background: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to right, rgba(1, 0, 0, 1), rgba(1, 0, 0, 0));
  color: #f1f1f1;
  width: 50%;
  height: 100%;
  padding: 3%;
  padding-top: 18%;
  z-index: 40;

  .title {
    width: 100%;
    overflow: hidden;
  }

  .title-line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .content-text {
    width: 100%;
    overflow: hidden;
  }

  .content-text-line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  p {
    font-size: 15px;
    color: white;
  }

  img {
    width: 300px;
  }

  button {
    border: 2px solid #FFFFFF;
    background-color: transparent !important;
    color: white;
    border-radius: 35px;
    transition: all 0.3s;
    
    &:focus {
      outline: unset !important;
      box-shadow: unset !important;
    }

    &:hover{
      background-color: #FFFFFF !important;
      color: #000000 !important;
    }

    &:active {
      border-color: #ffffff;
      color: #FFFFFF !important;
      background-color: #000000 !important;
    }

  }
}

// Extra small < 576px (.col-)

@media only screen and (max-width: 575px) {
  .content {
    height: 100% !important;
    width: 60% !important;
    padding: 100px  3%;


    img {
      display: none !important;
    }
  }
}

// Small ≥ 576px (.col-sm-)

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .content {
    height: 100% !important;
    width: 50% !important;
    padding: 100px  3%;


    img {
      display: block !important;
      width: 50%;
    }
  }
}

// Medium ≥ 768px (.col-md-)
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .content {
    height: 100% !important;
    width: 50% !important;
    padding: 100px  3%;


    img {
      display: block !important;
      width: 80%;
    }
  }
}

// Large ≥ 992px (.col-lg-)

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .content {
    height: 100% !important;
    width: 50% !important;
    padding: 100px 3%;


    img {
      display: block !important;
      width: 70%;
    }
  }
}

// Extra large ≥ 1200px (.col-xl-)

@media only screen and (min-width: 1200px) {
  .content {
    height: 100% !important;
    width: 50% !important;
    padding: 10% 3%;


    img {
      display: block !important;
      width: 70%;
    }
  }
}
