/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import './assets/fontawesome/css/all.css';
// @import "~font-awesome/css/font-awesome.css";
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "~owl.carousel/dist/assets/owl.theme.default.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=vietnamese');


body {
  background: #141414;
  font-family: 'Open Sans', sans-serif;
  font-display: swap;
  overflow-x: hidden;
}


app-slide-show {
  .owl-stage-outer {
    bottom: 63px;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #141414;
}

// màu thanh cuộn dịu thế này được rồi, màu kia xanh quá, đừng đổi lại nhé!

::-webkit-scrollbar-thumb {
  border-radius: 1px;
    background-color: #2584c787;
}

::-webkit-scrollbar-track {
  border-radius: 1px;
  background-color: #141414;
}
