.content-comment {
  width: 40%;
  padding: 0px 3% 0px;
  color: white;
}

.actor-scrollbar {
  height: calc(100vh - 180px) !important;
}

@media only screen and (min-width: 601px) and (max-width: 991px) {

  .content-comment {
    padding: 0px 0% 0px 3% !important;
  }
}


// Extra small < 576px (.col-)

@media only screen and (max-width: 575px) {

  .content-comment {
    padding-top: 0px !important;
    background: #141414bd;
    padding-top: 10px;
    width: 100% !important;
  }
}


// Small ≥ 576px (.col-sm-)

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .content-comment {
    width: 100% !important;
    padding-top: 0px !important;
    background: #141414bd;
    padding-top: 10px;
  }

  .actor-scrollbar {
    height: inherit !important;
  }
}

// Medium ≥ 768px (.col-md-)

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .content-comment {
    width: 100% !important;
    padding-top: 0px !important;
    background: #141414bd;
    padding-top: 10px;
  }

  .actor-scrollbar {
    height: inherit !important;
  }
}

// Large ≥ 992px (.col-lg-)

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .content-comment {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}



// Extra large ≥ 1200px (.col-xl-)

@media only screen and (min-width: 1200px) {
  .content-comment {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
